body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-wight: 500;
  font-size: 12px;
  font-family: 'Noto Serif', serif;
}

path {
  stroke-width: 4;
  stroke-linecap: butt;
  stroke: black;
  fill: none;
  transition: stroke-width .1s linear;
}

.grid-line {
  stroke-width: 1;
  stroke: black;
  fill: none;
  stroke-opacity: 0.2;

  &.is-emperor {
    stroke-opacity: 0.5;
  }
}

polygon {
  fill: #7aa4de;
}

rect {
  fill: white;
}

.main-line {
  fill: none;
  stroke-linecap: butt;

  &.is-prince {
    stroke: #92c790;
    stroke-width: 12;
  }

  &.is-consort {
    stroke: #b4c6e0;
    stroke-width: 6;
  }
}

.name-label {
  font-size: 17px;
  opacity: 0.8;
  transition: opacity .1s linear;
}

.name-small-label {
  font-size: 12px;
  opacity: 0.4;
}

.relationship-label {
  font-size: 10px;
  opacity: 0.4;
}

path.hidden-lines {
  stroke-width: 15;
  stroke: transparent;
  fill: none;
}

.annotation-line {
  stroke: black;
  stroke-opacity: 0.25;
  stroke-width: 1;
}

.chapter-label {
  font-size: 17px;
  letter-spacing: 3px;
  opacity: .4;
  transition: opacity .1s linear;
}

.hidden-chapter-line {
  stroke: transparent
  stroke-width: 15;
}

.hovered-chapter {
  .chapter-label {
    opacity: 0.8
  }

  .chapter-line {
    stroke-width: 5;
    stroke-opacity: 0.6;
  }
}

.chapter-line {
  stroke: black;
  stroke-opacity: 0.25;
  stroke-width: 2;
  transition: all .1s linear;
}

.label-container.hovered {
  .name-label, .name-small-label  {
    opacity: 1;
    text-decoration: underline;
  }
}

.hovered-group path:not(.is-born) {
  stroke-width: 6;
}

.hidden-rect {
  fill: transparent
}

.filled-emperor {
  fill: url(#filled-emperor-grad);
}


.filled {
  fill: url(#filled-grad);
}